!! urxvt config
!!URxvt.font:             xft: DejaVu Sans Mono for Powerline:size=11,xft: Symbola:size=11,xft: Unifont
URxvt.font:             xft: DejaVuSansMono Nerd Font:size=5, xft: DejaVuSansMono Nerd Font:pixelsize=12, xft: DejaVuSansMono Nerd Font:pixelsize=11, xft: DejaVuSansMono Nerd Font:pixelsize=10, xft: DejaVuSansMono Nerd Font:pixelsize=9, xft: DejaVuSansMono Nerd Font:pixelsize=8, xft: DejaVuSansMono Nerd Font:pixelsize=7
URxvt*termName:         rxvt-unicode-256color
URxvt*scrollBar:        false
URxvt*perl-lib:         /usr/lib/urxvt/perl/
URxvt*perl-ext-common:  default,matcher
URxvt*urlLauncher:      /opt/google/chrome/google-chrome
URxvt*matcher.button:   1
URxvt*letterSpace: 	0
URxvt*depth:            32
URxvt*iso14755:         false

Xft.dpi:		210
Xft.autohint:           0
Xft.lcdfilter:          lcddefault
Xft.hintstyle:          hintslight
Xft.hinting:            1
Xft.antialias:          true
Xft.rgba:               rgb

Xcursor.size:           32

Xmessage.form.okay.shapeStyle:         rectangle
Xmessage.form.okay.background:         S_base03
Xmessage.form.okay.foreground:         S_base0
Xmessage*Background:                   S_base03
Xmessage*Foreground:                   S_base0
Xmessage*buttons:                      OK
Xmessage*defaultButton:                OK
Xmessage.form.message.Scroll:          WhenNeeded
Xmessage*Font:                         ttf: DejaVu Sans Mono:size=11
Xmessage*borderWidth:                  0
Xmessage*Text.borderWidth:             0
Xmessage*Command.shapeStyle:           rectangle
Xmessage*Text.?.cursorColor:           white
