@import 'colors';

// Functional
$transparent: rgba(#000000, 0);
$transparent-bg0: rgba($bg0, 0.5);

* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
  background-color: $transparent;
  color: $fg0;
  padding: 0px;
  font-family: DejaVuSansM Nerd Font Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  margin-top: 0px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
}

.main_container {
  background-color: $transparent;
  color: $fg2;
  padding: 0px;
}

.left_modules {
  border-radius: 20px;
  color: $fg2;
  padding: 0px;
}

.center_modules {
  background-color: $bg0;
  border-radius: 0px 0px 20px 20px;
  color: $fg2;
  border-style: solid;
  border-width: 0px 3px 3px 3px;
  border-color: $bg3;
  padding: 0px;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.right_modules {
  border-radius: 20px;
  color: $fg2;
  padding: 0px;
}

.workspaces {
  background-color: $bg0;
  border-radius: 0px 0px 20px 20px;
  color: $fg2;
  border-style: solid;
  border-width: 0px 3px 3px 3px;
  border-color: $bg3;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  font-size: 25px;

  .occupied {
    all: unset;
    color: $accent3;
  }

  .empty {
    all: unset;
    color: $bg3;
  }

  .current {
    all: unset;
    color: $fg2;
    font-size: 30px;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: $fg2;
  }
}

.media_controls {
  all: unset;
  background-color: $bg0;
  color: $green;
  border-style: solid;
  border-width: 0px 3px 3px 3px;
  border-radius: 0px 0px 20px 20px;
  border-color: $bg3;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.media_info {
  all: unset;
  color: $bg0;
  border-style: solid;
  padding-left: 10px;
  padding-right: 10px;
}

.date {
  all: unset;
  color: $fg2;
}

.power {
  all: unset;
  background-color: $bg0;
  color: $fg2;
  border-style: solid;
  border-width: 0px 3px 3px 3px;
  border-color: $bg3;
  border-radius: 0px 0px 20px 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-right: 15px;
}

.sensors {
  all: unset;
  background-color: $bg0;
  color: $fg2;
  border-style: solid;
  border-width: 0px 3px 3px 3px;
  border-color: $bg3;
  border-radius: 0px 0px 20px 20px;
  padding-left: 15px;
  padding-bottom: 5px;
  padding-right: 15px;
}

.memory {
  all: unset;
  color: $orange;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-radius: 0px 0px 20px 20px;
  border-color: $orange;
  padding-left: 10px;
  padding-right: 10px;
}

.cpu_temperature {
  all: unset;
  color: $green;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-radius: 0px 0px 20px 20px;
  border-color: $green;
  padding-left: 10px;
  padding-right: 10px;
}

.cpu {
  all: unset;
  color: $purple;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-radius: 0px 0px 20px 20px;
  border-color: $purple;
  padding-left: 10px;
  padding-right: 10px;
}

.volume {
  all: unset;
  color: $accent3;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-radius: 0px 0px 20px 20px;
  border-color: $accent3;
  padding-left: 10px;
  padding-right: 10px;
}

.volume-muted {
  color: $red;
}

.battery {
  all: unset;
  color: $accent0;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-radius: 0px 0px 20px 20px;
  border-color: $accent0;
  padding-left: 10px;
  padding-right: 10px;
}

.power_button {
  all: unset;
  transition: color 0.5s;
  color: $accent3;
  font-size: 25px;
}

.power_button:hover {
  transition: color 0.5s;
  color: $fg2;
}

.clock {
  all: unset;
  color: $fg2;
  padding-right: 15px;
}

.date_icon {
  all: unset;
  color: $fg2;
  font-size: 25px;
  padding-left: 15;
  padding-bottom: 3px;
}

.clock_icon {
  all: unset;
  color: $fg2;
  font-size: 25px;
  padding-bottom: 3px;
}

.system_tray {
  all: unset;
  background-color: $bg0;
  border-radius: 20px;
  color: $fg2;
  border-style: solid;
  border-width: 0px 3px 3px 3px;
  border-color: $bg3;
  border-radius: 0px 0px 20px 20px;
  color: $fg2;
  padding-left: 15px;
  padding-right: 15px;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.system_tray menu {
  all: unset;
  background-color: $bg0;
  color: $fg2;
  padding: 15px 15px;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: $bg3;

  >menuitem {
    padding: 5px 5px;

    &:disabled label {
      color: $bg3;
    }

    &:hover {
      background-color: $accent2;
      border-radius: 20px;
    }
  }

  separator {
    background-color: $bg3;
    padding-top: 3px;
    margin-top: 3px;
    margin-bottom: 3px;

    &:last-child {
      //padding: unset;
    }
  }
}

// Styles on classes (see eww.yuck for more information)

.metric scale trough highlight {
  all: unset;
  background-color: $red;
  color: $bg0;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: $bg3;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.label-ram {
  font-size: large;
}

.workspace_button {
  background-color: rgba($bg0, 0.4);
  border-radius: 10px;
  padding: 4px 8px;
  transition: background-color 0.2s ease-in-out, padding 0.2s ease-in-out;

  &:hover {
    background-color: rgba($accent2, 0.7);
    padding: 5px 9px; /* visually enlarges the button */
    box-shadow: 0 0 6px rgba($accent2, 0.7);
  }

  &:active {
    background-color: rgba($accent3, 0.9);
    padding: 3px 7px; /* visually "presses" the button */
  }

  &.current {
    background-color: rgba($accent2, 0.9);
    color: $bg0;
  }
}

.workspace_icon {
  font-size: 16px;
  color: $fg2;
}
